on: [push, pull_request]
name: Continuous Integration
jobs:
  Tests:
    name: base
    continue-on-error: true
    strategy:
      matrix:
        python:
           - '3.9'
           - '3.10'
           - '3.11'
           - '3.12'
           - '3.13'
           - 'pypy-3.9'
        java:
          - '8'
          - '11'
          - '23'
        os:
          # macos-latest (ATM macos-14) runs on Apple Silicon,
          # macos-13 runs on Intel
          - 'ubuntu-latest'
          - 'windows-latest'
          - 'macos-latest'
          - 'macos-13'
        architecture:
          - 'x64'
          - 'x86'
          - 'aarch64'
        exclude:
          - python: '3.13'
          - os: windows-latest
            architecture: aarch64
          - os: ubuntu-latest
            architecture: aarch64
          - os: ubuntu-latest
            architecture: x86
          - os: macos-13
            architecture: aarch64
          - os: macos-13
            architecture: x86
          - os: macos-latest
            architecture: aarch64
            java: '8'
          - os: macos-latest
            architecture: x64
          - os: macos-latest
            architecture: x86
          - os: windows-latest
            architecture: x86
            python: 'pypy-3.9'
          - os: windows-latest
            architecture: x86
            java: '20'
          - os: windows-latest
            architecture: x86
            java: '21'
          - os: windows-latest
            architecture: x86
            java: '22'
          - os: windows-latest
            architecture: x86
            java: '23'
          
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master

    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}
        architecture: ${{ matrix.architecture == 'aarch64' && 'arm64' || matrix.architecture }}

    - name: Setup java
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        architecture: ${{ matrix.architecture }}

    - name: (macOS) Setup test dependencies
      if: matrix.os == 'macos-latest' || matrix.os == 'macos-13'
      run: brew install ant

    - name: Build test classes via ant
      run: ant all

    - name: Install pyjnius with [dev, ci] extras
      run: |
        pip install --timeout=120 .[dev,ci]
  
    - name: (Windows) Test pyjnius via pytest
      if: matrix.os == 'windows-latest'
      run: |
        $env:PATH +=";$env:JAVA_HOME\jre\bin\server\;$env:JAVA_HOME\jre\bin\client\;$env:JAVA_HOME\bin\server\"
        $env:CLASSPATH ="../build/test-classes;../build/classes"
        cd tests
        pytest -v

    - name: (Linux, macOS) Test pyjnius via pytest
      if: (matrix.os == 'ubuntu-latest') || (matrix.os == 'macos-latest') || (matrix.os == 'macos-13')
      run: |
        cd tests
        CLASSPATH=../build/test-classes:../build/classes python -m pytest -v

#     - name: coveralls
#       run: python -m coveralls
#       env:
#         COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
